@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url("navbar.css");
@import url("avatar.css");


body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0px;
}


h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3em;
}

h2{
  margin-top: 5%;
  font-size: 2em;
  font-weight: bold;
}

h3{
  font-size: 1.5em;
  font-weight: bold;
}

hr{
  border: 1px solid ;
  width: 50px;
}

a{
  color: #07689f;
  text-decoration: none !important;
}

.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main-container {
  width: 700px;
  margin: 0 auto;
}

/*Landing page*/

.landing-container{
  display: flex;
  height: 90vh;
}

.left-side{
  flex: 0 0 35%;
  background-color: #9FB1BC;
}

.right-side{
  flex: 0 0 65%;
  background-color: white;
}

.content-container{
  position: relative;
  bottom: 88%;
/*  left: 20%;*/
  min-height: 55%;
  width: 135vh;
  background-color: white;
  display: flex;
  padding-left: 0px;
}

.profile-card{
  background-color: #d9e4dd;
/*  padding: 8px 16px;*/
  width: 90vw;
}

.profile-content{
  background-color: white;
  padding-left: 64px;
  text-align: left;
  flex-grow: 2;
}

.contact-icon{
  height: 10vh;
  font-size: 32px;
  padding: 8px;
  color: black;
}


/*profile content*/
.title-large{
  letter-spacing: 4px;
  text-align: left;
}

.buttons{
  display: flex;
  align-items: center;
  padding: 24px 0px;
}

.btn-color{
  background-color: #d9e4dd;
  border-radius: 16px;
  padding: 8px 12px;
  color: #07689f;
  margin-left: 24px;
  font-size: 16px;
  letter-spacing: 2px;
  height: fit-content;

}

.btn-color:hover{
  transition-duration: 0.3s;
  color: #2d3b41;
}

.buttons a{
  text-decoration: none;
}

.btn-clear{
  border: 2px solid #07689f;
  color: #07689f;
  border-radius: 16px;
  padding: 6px 16px;
  font-size: 16px;
  height: fit-content;
  letter-spacing: 2px;
}

.btn-clear:hover{
  border: 2px solid #07689f;
  color: white;
  background-color: #07689f;
  transition-duration: 0.7s;
}

.buttons a{
  text-decoration: none;
}

/*project*/
.project-container{
  /*background-color: #d6e8f3;*/
}

.project-card{
  display: flex;
  height: auto;
  padding: 16px;
  margin: 64px auto;
  width: 100%;
 /* background-color: #9FB1BC;*/
}

.project-content{
  flex: 0 0 60%;
  padding: 16px 64px 16px 0px;
  text-align: left;
  color: black;
}

.project-img{
  flex: 0 0 40%;
}

.project-img .img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/*@media (max-width: 800px) {

  .top .left-side{
    background-color: red;
  }

  .top .content-container{
    flex-flow: row wrap;
    background-color: green;
    top: 30%;
  }
  .project-container{
    background-color: blue;
  }
}*/
